# Server
NODE_ENV=development
PORT=5000

# MongoDB Atlas (or local) connection string
MONGO_URI=SECRET

# JWT
JWT_SECRET=asdfghjklqwertyuiopzxcvbnm
JWT_EXPIRES_IN=7d
JWT_COOKIE_EXPIRES_DAYS=7

# CORS - your deployed frontend URL
CLIENT_URL=http://localhost:5173
